<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755816808702-7dq251tq5flpigtp0sj35aa06gdeuemk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755816808702-7dq251tq5flpigtp0sj35aa06gdeuemk</string>
	<key>API_KEY</key>
	<string>AIzaSyDqYRlsBgtqJAOZQ_BGM0HH4CY63Z14iH0</string>
	<key>GCM_SENDER_ID</key>
	<string>755816808702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eatmypack.app</string>
	<key>PROJECT_ID</key>
	<string>eatmypack</string>
	<key>STORAGE_BUCKET</key>
	<string>eatmypack.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755816808702:ios:ce7fb17877c942a482e5af</string>
</dict>
</plist>